<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Page</title>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body>
  <div>
    <h1>What's Your Airbnb Price?</h1>
  </div>
  <div>
    <div>Predicted Price:</div>
    <div class="predicted-responce"></div>
  </div>
  <div>
    <div>Actual Price:</div>
    <div class="actual-responce"></div>
  </div>

  <div>
  </div>
</body>
</html>
