<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Page</title>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
<div id="showContainer">
  <header>
    <h1>Fairbnb</h1>
    <p> See how your Airbnb price compares... </p>
  </header>
  <div class="results">
    <div>
      <div>Predicted Price:</div>
      <div class="predicted-responce"></div>
    </div>
    <div>
      <div>Actual Price:</div>
      <div class="actual-responce"></div>
    </div>
  </div>
  <div class="graphs">
    <div>
      <h2>Manhattan</h2>
      <canvas id="myChart" width="175" height="225"></canvas>
    </div>
    <div>
      <h2>The Bronx</h2>
      <canvas id="myChart2" width="175" height="225"></canvas>
    </div>
    <div>
      <h2>Queens</h2>
      <canvas id="myChart3" width="175" height="225"></canvas>
    </div>
    <div>
      <h2>Brooklyn</h2>
      <canvas id="myChart4" width="175" height="225"></canvas>
    </div>
    <div>
      <h2>Staten Island</h2>
      <canvas id="myChart5" width="175" height="225"></canvas>
    </div>
  </div>
  </div>
</body>
</html>
