<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Page</title>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script type="text/javascript" src="/scripts/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>
<body>
  <div id="showContainer">
    <header>
      <h1>FAirbnb</h1>
      <p> See how your Airbnb price compares... </p>
    </header>
    <div class="show-container">
      <div class="results">
        <div>
          <div>Predicted Price:</div>
          <div class="predicted-response"></div>
        </div>
        <div>
          <div>Actual Price:</div>
          <div class="actual-response"></div>
        </div>
      </div>
      <div class="graphs">
          <h2>Average Price Per NYC Borough</h2>
          <canvas id="myChart" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
</body>
</html>
