body {
  width: 100vw;
  height: 100vh;
  background: url("../images/couch.jpg") no-repeat;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
  color: white;
}

#indexContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 3% auto;
}

#showContainer {
  margin: 3% auto;
}

h1 {
  font-size: 50pt;
  letter-spacing: 10px;
  text-shadow: 2px 2px rgba(150,150,150,0.5);
  margin: 5px;
}
header {
  background: rgba(121, 252, 252, .6);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 75%;
}

form {
  height: 30%;
  border: solid white 2px;
  border-radius: 10px;
  background: rgba(150, 150, 150, .9);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px 10px 15px 10px;
  width: 65%;
  margin: 3% auto;
}

.form {
}

p{
  text-shadow: 1px 1px rgba(150,150,150,0.6);
  padding: 0px;
}

input {
  height: 60%;
  width: 50%;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: 16pt;
  margin-right: 5%;
}

button {
  height: 60%;
  width: 20%;
  border-radius: 5%;
  color: white;
  font-size: 14pt;
  background: lightgrey;
}

/*Show Page*/

.results {
  align-items:  center;
  display: flex;
  justify-content: center;
}

